{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
 <div class="row" style="width: 100%; height: 100%; margin: 0;">
        <div class="col d-flex flex-column align-items-center justify-content-center mb-3">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row" style="width: 100%; height: 100%; margin: 0;">
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <form class="login text-" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center ">
                  <button class="btn btn-primary drawn-border" type="submit">{% trans "Sign In" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}

