{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}    
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center mt-2">Account Centre</h1>
            <p class="text-center mb-5">Manage your account details and view your order history.</p>
            {% include "account/centre_nav.html" %}
            <div class="col-12 col-md-8">
        {% element h1 %}
            {% trans "Set Password" %}
        {% endelement %}
        {% element p %}
            {% trans "Note: social account passwords are managed through the respective social platform. You do not need to set a password for social accounts." %}
        {% endelement %}
        {% url 'account_set_password' as action_url %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action" %}
                    {% trans 'Set Password' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        </div>
    </div>
{% endblock content %}
