{% extends "base.html" %}
{%load crispy_forms_tags %}
{% block title %}Account Centre{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Account Centre</h1>
<p class="text-center mb-5">Manage your account details and view your order history.</p>

<div class="row">
    {% include "account/centre_nav.html" %}
    <div class="col-12">
        <form id="profile-form" method="POST" style="max-width: 600px;" class="mx-auto" action="{% url 'dashboard:profile_update' %}">           
            {{ profile_form | crispy }} 
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
</div>
{% endblock %}
